table {
  width: 100%;
}

.parent {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.component-class-home {
padding: 5px;
  margin: 5px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

