.wrapper {
  padding: 30px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: red;
}

.parent {
  display: flex;
  justify-content: right;
  align-items: end;
  flex-direction: column;
}
